.portfolio_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.portfolio_item{
    background: var(--color-bg-varient);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    cursor: pointer;
}
.portfolio_item:hover{
    border-color: var(--color-primary-varient);
    background: transparent;
}
.portfolio_item_img{
    border-radius: 1.5rem;
    overflow: hidden;
    
}
.portfolio_item_img img{
    width: 250px;
}
.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}

/* -----For Medium Devices----- */
@media screen and (max-width: 1024px) {
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .portfolio_item_img img{
        width: 220px;
    }
}

/* -----For Small Devices----- */
@media screen and (max-width: 600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio_item_img img{
        width: 180px;
    }
}